{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!--meta name="google-signin-client_id" content="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"-->

<script>
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com',
        // Scopes to request in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
    });
  </script>


<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>
  <div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Login with OAuth 2.0 </h1>

    </div>
  </div>


 <!--GOOGLE SIGN IN BUTTON -->
  
<button  class="g-signin2" id="signinButton">Sign in with Google</button>
<!-- Add where you want your sign-in button to render -->
<!-- Use an image that follows the branding guidelines in a real app -->

<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 7.
    console.log('somewhere inside this script');
    //auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);

  });
</script>
</div>

<!--END GOOGLE BUTTON -->


<!--FACEBOOK API, LOGIN CODE, AND BUTTON -->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '846524132078825',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);
          

      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }

      }
      
  });


    });
  }
</script>


<button class="btn btn-default" id="new-menu-item">
          <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Login with Facebook

          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
<a href='javascript:sendTokenToServer()'>Login with Facebook</a>

</fb:login-button>


        </button>

        <!-- END FACEBOOK -->

<div id="result"></div>











<!-- GOOGLE PLUS SIGN IN BUTTON AND CODE -->
<button class="btn btn-default" id="new-menu-item">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Login with Google
          <div>
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>


        </button>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/restaurant";
         }, 4000);
          

      } else if (authResult['error']) {

    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }

      }
      
  }); } }
</script>




<!--END GOOGLE PLUS SIGN IN CODE -->





<!--GOOGLE SIGN IN CODE -->
<script>
function signInCallback(json) {
  console.log('inside callback fuction');
  console.log(json);
  // authResult = JSON.parse(json);
  authResult = json;
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');
      
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
          setTimeout(function() {
            window.location.href = "/restaurant";
          }, 4000);
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    }); 
  }
}
</script>


<a href='#' onclick="signOut();">Sign Out from Google <a/>
<!--script>
    var auth2;

    gapi.load('auth2', function() {
        auth2 = gapi.auth2.init();
    });

    function onSignIn() {
        var profile = auth2.currentUser.get().getBasicProfile();
        console.log('User logged in.');
        console.log('ID:', profile.getId());
        console.log('Name:', profile.getName());
        console.log('Image URL:', profile.getImageUrl());
        console.log('Email:', profile.getEmail());
    } -->
<script>
    function signOut() {
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
    }
    </script>


<!--END GOOGLE SIGN IN CODE -->



  </body>



{%endblock%}