{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#card-image')
        .attr('src', e.target.result)
        .width(150)
        .height(200);
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Menu Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post"  enctype="multipart/form-data">
			    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name"placeholder="Name of the course">

					<label for="description">Description:</label>
					<textarea class="form-control" rows="3" name="description" placeholder="Description of the course"></textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" name="price" placeholder="Price in $">
					</div>
					<label for="course">Course:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course1" value="Appetizer">Appetizer
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course2" value="Entree">Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course3" value="Dessert">Dessert
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course4" value="Beverage">Beverage
					  </label>
					</div>
				    Select image to upload:
				    <input type="file" name="fileToUpload" id="fileToUpload" onchange="readURL(this);">
					<img id="card-image" src="#" width="150" height="200" alt="Image Not Found">
					<br>
					<button type="submit" class="btn btn-default" id="submit" >
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
					<a href = '{{url_for('showRestaurants')}}'>
						<button  type="button" class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

